html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, #ff6f00, #ffca28) !important;
    background-attachment: fixed;
}

#wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 500px;
}

#header {
    position: relative;
    min-height: 0px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    max-width: 95%;
    margin: 0 auto;
}

#top_panel {
    color: #fff;
    font-size: 16pt;
}

#location {
    font-weight: 400;
}

#info {
    float: right;
}

#weather_info {
    margin-top: 100px;
    display: block;
}

.temp_h1 {
    color: #fff;
    font-weight: 200;
    font-size: 40pt;
}
.temp_h2 {
    color: #fff;
    margin-top: -50px;
    margin-left: 5px;
    font-weight: 300;
    font-size: 11pt;
}

#header img {
    bottom: 0;
    float: right;
    width: 120px;
    margin-top: -5px;
    margin-right: 0px;
}

.box {
    background-color: #fff;
    font-weight: 300;
    position: relative;
    font-size: 11pt;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(54, 54, 54);
    width: calc(95% - 30px);
    min-height: 100px;
    padding: 0px 15px;
}

.box_title {
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 13pt;
}